/* ArtworkDisplay.css */

.artwork-container {
    padding-top: 50px;
    /* Adjust as needed */
}

.sidebar {
    background-color: #f8f9fa;
    padding: 20px;
    height: calc(100vh - 50px);
    /* Adjust to fill available height */
    overflow-y: auto;
    /* Add scrollbar if needed */
}

/* ArtworkDisplay.css */

.welcome-banner {
    padding: 20px;
    background-color: #084887;
    /* Dark background color */
    color: #ffffff;
    /* White text color */
    margin-bottom: 20px;
}

.artwork-card {
    margin-bottom: 20px;
}

.artwork-img {
    height: 200px;
    /* Adjust as needed */
    object-fit: cover;
}

.pagination-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}