body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    background-image: url('E:\2024Uni\WebProg\Art\Frontend\FrontendArt\public\abstract-6704211_1920.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    /* Slightly transparent background for readability */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.header-links {
    margin-right: 20px;
}

.header-links a {
    margin-left: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.content {
    text-align: center;
}

.options {
    margin-top: 30px;
}

.options button {
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.options button:hover {
    background-color: #218838;
}

.options button:last-child {
    margin-right: 0;
}